/* body */
body {
    margin: 20px;
    background-color: whitesmoke;
}

/* buttons */

button {
    background-color: #f4b41a;
    color: #143d59;
}

button:hover {
    color: #f4b41a;
    background-color: #143d59;
}


@media only screen and (min-width: 768px) {

    button {
        width: 100px;
        min-height: 50px;
    }
}

/* link */
a {
    text-decoration: none;
}