@import url(elements.css);
@import url(typography.css);


/* page grid */
.page-grid {
    display: grid;
    grid-template-rows: 20px 2fr 3fr 4fr 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "navbar navbar"
        "title title"
        "welcome welcome"
        "blog-post blog-post"
        "footer footer"
    ;

    grid-gap: 10px;
}

/* navbar (1) */
.navbar {
    grid-area: navbar;
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
}

.navbar-link {
    margin-left: 10px;
    margin-right: 10px;
}

/* title (2) */
.title-area {
    background-color: #f4b41a;
    border: 5px solid #143d59;
    text-align: center;
    grid-area: title;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 270px;

}


/* welcome (3)*/
.welcome-area {
    grid-area: welcome;
    justify-content: center;

}


.image-area {
    height: auto;
    display: grid;
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "1"
        "2"
        "3"
        "4";
    grid-gap: 5vw;
}

.welcome-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-1 {
    background-image: url(../images/image-1.jpg);
    grid-area: 2;
}

.img-2 {
    background-image: url(../images/image-2.jpg);
    grid-area: 3;
}

.img-3 {
    background-image: url(../images/osaka.jpg);
    grid-area: 4;
}



/* blog post (4) */
.ex-blog-area {
    grid-area: blog-post;
    width: 90%;
    margin: auto;
}

.ex-blog {
    padding: 5%;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(255, 255, 255);
}


.ex-blog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* footer (5) */
.footer {
    grid-area: footer;
}



@media only screen and (min-width: 768px) {

    .page-grid {
        /* puts the welcome div and example blog post next to eachother */
        grid-template-rows: 20px 1fr 7fr 20px;
        grid-template-areas:
            "navbar navbar"
            "title title"
            "welcome blog-post"
            "footer footer"
        ;
    }

    .ex-blog-img {
        width: 50vw;
        margin: auto;
    }

    button {
        width: 100px;
    }

    .image-area {
        height: 80%;
        display: grid;
        margin: auto;
        grid-gap: 40px;
    }
}