body {
    font-family: 'Montserrat', sans-serif;
    /* main color
        color: #143d59; */
    /* secondary color: #f4b41a;
     */
    color: #143d59;
}

h1 {}

h2 {}

h3 {}

strong {}

em {}

a {}